<div class="col-xs-8 col-xs-offset-2">
  <h1>Say Hello!</h1>
  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, required: true %>
    <br />
    <%= f.input :email, required: true %>
    <br />
    <%= f.input :message, as: :text %>

    <div class="hidden">
      <%= f.input :nickname, hint: 'leave this field blank' %>
    </div>
    <br />
    <%= f.submit 'Send Message', class: 'btn btn-primary' %>
  <% end %>
</div>