<%= simple_form_for @post do |f| %>
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.input :title %><br>
  
  <br />
  <br />

  <%= f.input :content %>
    
  <br />
  <br />

  <%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>
