<br />
<div class="col-xs-8 col-xs-offset-2 post">
  <div class="text-center post-date"><%= @post.created_at.strftime('%A, %B %d') %></div>
    <br />
    <br />
  <div class="text-center post-title"><h2><%= @post.title %></h2></div>
    <br />
    <hr class="center-block">
  <p class="post-content"><%= markdown @post.content %></p>

    <br />
    <br />

    <% if user_signed_in? %>
      <div id="admin_links">
        <%= link_to "Edit Post", edit_post_path(@post) %>
        <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>    
      </div>
    <% end %>

    <hr class="center-block">
      <div id="col-xs-12 col-sm-3 share-box">
        <h4 class="text-center"><i>Share and Comment on</i> <b><%= @post.title %>!</b></h4>
        <br />
        <!-- <a onclick="javascript:window.open('http://twitter.com/intent/tweet?text=<%= @post.title %> by @twitterhandle - &amp;url=<%=url_for(post_url(@post)) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
            <i class="fa fa-twitter center-block"></i>
        </a>
        <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for(post_url(@post)) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
        <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for(post_url(@post)) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus center-block"></i></a> -->
      </div>
    <br />
    <br />
  <%= render 'disqus' %>
</div>


<br class="clr" />
<br />
