<!DOCTYPE html>
<html>
  <head>
    
    <title>Tim Freebern - Ruby on Rails Developer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  </head>

  <body>
     <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">Tim Freebern II</div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><%= link_to 'Home', root_path %></li>
            <li class="active"><a href="https://tfreebern2.github.io">Portfolio</a></li>
            <li class="active"><%= link_to "Contact", new_contact_path %></li>
            <li class="active">  
              <% if user_signed_in? %>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
              <% end %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    <br />
    <br />
    <div class="container">
    
        <%= yield %>
      
    </div>
    

    

    <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <b>Social</b>
            <br />
            <br />
            <%= link_to 'http://github.com/tfreebern2', target: :blank do %>
              <%= image_tag 'github.png', class: 'social-button' %>
            <% end %>
            <%= link_to 'http://www.facebook.com/public/Tim-Freebern-II', target: :blank do %>
              <%= image_tag 'facebook.png', class: 'social-button' %>
            <% end %>
            <%= link_to 'http://twitter.com/TFreebern2', target: :blank do %>
              <%= image_tag 'twitter.png', class: 'social-button' %>
            <% end %>
        </div>
      </footer>
  

  </body>
</html>
